<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.anyline.reactnative">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <application android:allowBackup="true">
      <activity android:name="com.anyline.reactnative.EnergyActivity" android:screenOrientation="portrait"/>
      <activity android:name="com.anyline.reactnative.MrzActivity" android:screenOrientation="portrait"/>
      <activity android:name="com.anyline.reactnative.BarcodeActivity" android:screenOrientation="portrait"/>
      <activity android:name="com.anyline.reactnative.AnylineOcrActivity" android:screenOrientation="portrait"/>
      <activity android:name="com.anyline.reactnative.DocumentActivity" android:screenOrientation="portrait"/>
      <activity android:name="com.anyline.reactnative.LicensePlateActivity" android:screenOrientation="portrait"/>
  </application>
</manifest>
