<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.anyline.reactnative">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <application android:allowBackup="true">
      <activity android:name="com.anyline.reactnative.EnergyActivity"/>
      <activity android:name="com.anyline.reactnative.MrzActivity"/>
      <activity android:name="com.anyline.reactnative.BarcodeActivity"/>
      <activity android:name="com.anyline.reactnative.AnylineOcrActivity"/>
  </application>
</manifest>
